# 0. Variables

In [1]:
space_name = 123456.012

In [2]:
print(space_name)

123456.012

In [3]:
type(space_name)

float

# 1. Data Types

In [4]:
# This is declaring a variable as a STRING 
string_variable = 'pluto'
print(string_variable)

pluto

In [5]:
type(string_variable)

str

In [6]:
# This is declaring a variable as an Integer
integer_variable = 123852
type(integer_variable)

int

In [7]:
integer_variable + 10

123862

In [8]:
# This is declaring a variable as a Float
float_variable = 128.126
type(float_variable)

float

In [9]:
# This is assigning a Boolean value to a variable
bool_variable = bool(0)
type(bool_variable)

bool

In [10]:
bool_variable

False

In [11]:
# This is creating a list variable
list_variable = [1, 2, 3, 123.44, 85.4, 22.1, 1,2,3,1,2,3]
type(list_variable)

list

In [12]:
list_variable[5] = 123

In [13]:
list_variable

[1, 2, 3, 123.44, 85.4, 123, 1, 2, 3, 1, 2, 3]

In [14]:
# Create a TUPLE variable, IMMUTABLE = you can't change the values
tuple_variable = (1, 2, 3, 123.44, 85.4, 22.1, 3)
type(tuple_variable)

tuple

In [15]:
tuple_variable

(1, 2, 3, 123.44, 85.4, 22.1, 3)

In [16]:
# This is creating a SET variable, IMMUTABLE = you can't change the values, No DUPLICATES!
set_variable = {1, 2, 3, 123.44, 85.4, 22.1, 3}
type(set_variable)

set

In [17]:
# Type casting list to set back to list to get rid of duplicates
type(list(set(list_variable)))

list

In [18]:
# Defining a dictionary variable
person_variable = {'name':"Nicholas", 'favourite_color':'red', 'favourite_number':20}
type(person_variable)

dict

In [19]:
person_variable['favourite_number']

20

In [20]:
fit_models = {}

In [21]:
tuple(list_variable)

(1, 2, 3, 123.44, 85.4, 123, 1, 2, 3, 1, 2, 3)

# 2. Lists

In [22]:
# Create
names = ['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [23]:
# Read 
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

In [24]:
# Reading using Indexing
names[0]

'neil armstrong'

In [25]:
names[-1]

'elon musk'

In [26]:
len(names)

5

In [27]:
# Update

In [28]:
names[-1] = 'nicholas renotte'
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'nicholas renotte']

In [29]:
names.append('elon musk')

In [30]:
names

['neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'nicholas renotte',
 'elon musk']

In [31]:
names.insert(0, 'richard branson')

In [32]:
names

['richard branson',
 'neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'nicholas renotte',
 'elon musk']

In [33]:
# Delete

In [34]:
del names[-2]

In [35]:
names

['richard branson',
 'neil armstrong',
 'buzz aldrin',
 'sally ride',
 'yuri gagarin',
 'elon musk']

# 3. Dictionaries

In [36]:
# Create
astronaut = {
    "name":"elon musk", 
    "suit_size":"large", 
    "allergies":"peanuts"
}

In [37]:
# Read

In [38]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'peanuts'}

In [39]:
astronaut['suit_size']

'large'

In [40]:
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [41]:
astronaut.values()

dict_values(['elon musk', 'large', 'peanuts'])

In [42]:
# Update

In [43]:
astronaut['allergies'] = 'mango'

In [44]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

In [45]:
astronaut['space_ship'] = 'Galactic 1'

In [46]:
astronaut

{'name': 'elon musk',
 'suit_size': 'large',
 'allergies': 'mango',
 'space_ship': 'Galactic 1'}

In [47]:
# Delete

In [48]:
del astronaut['space_ship']

In [49]:
astronaut

{'name': 'elon musk', 'suit_size': 'large', 'allergies': 'mango'}

# 4. Conditions and Logic

In [50]:
# Applying logic using the IF statement
name = 'Nick'
if name == 'Neil Armstrong':
    print('Sup not Neil')

In [51]:
probability = 0.1
# Probability is greater than 0.5
if probability >= 0.5:
    print(True)
    
# Print out a statement is probability is below
elif probability < 0: 
    print('Check yo probabilities')
    
# Anything else
else:     
    print(False)

False

In [52]:
# Create a list of names
names = ['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk'] 
if 'elon musk' in names:
    # Using Python escapes
    print("Elon\'s here")

Elon's here

# 5. Loops

In [53]:
# This is an example of a For loop
for name in names:
    print(name)
    
    # Condition statement block
    if name == 'buzz aldrin':
        print('Sup buzz \n')
        # Next value in the loop
        continue
        
    elif name == 'yuri gagarin':
        print('Hey yuri!')
        # Break statement stops the loop
        break
        
    # Catch all     
    else:
        # Placeholder to do nothing
        pass
        
    # Outside of if statement block
    print('Pleased to have you here!\n')

neil armstrong
Pleased to have you here!

buzz aldrin
Sup buzz

sally ride
Pleased to have you here!

yuri gagarin
Hey yuri!

In [54]:
# Loop x number of times
for idx in range(1,11):
    print(idx)

1
2
3
4
5
6
7
8
9
10

In [55]:
# Create launch variables
launched_shuttles = 0 
total_shuttles = 10 

# Create a while loop
while True:
    # STRING FORMATTING
    print('Shuttle {} launched'.format(launched_shuttles+1))
    launched_shuttles += 1

    if launched_shuttles == total_shuttles:
        print('All shuttles launched')
        break

Shuttle 1 launched
Shuttle 2 launched
Shuttle 3 launched
Shuttle 4 launched
Shuttle 5 launched
Shuttle 6 launched
Shuttle 7 launched
Shuttle 8 launched
Shuttle 9 launched
Shuttle 10 launched
All shuttles launched

In [56]:
astronaut = {
    "name":"Elon Musk", 
    "suit_size": "Medium", 
    "allergies":"peanuts"
}

In [57]:
# Accessing dictionary keys
astronaut.keys()

dict_keys(['name', 'suit_size', 'allergies'])

In [58]:
# Loop through keys in a dictionary
for key in astronaut.keys(): 
    print(key)

name
suit_size
allergies

In [59]:
# Accessing dictionary values
astronaut.values()

dict_values(['Elon Musk', 'Medium', 'peanuts'])

In [60]:
# Loop through values in a dictionary
for value in astronaut.values():
    print(value)

Elon Musk
Medium
peanuts

In [61]:
astronaut.items()

dict_items([('name', 'Elon Musk'), ('suit_size', 'Medium'), ('allergies', 'peanuts')])

In [62]:
# Loop through keys and values at the same time 
for key, value in astronaut.items():
    print(key)
    print(value, '\n')

name
Elon Musk

suit_size
Medium

allergies
peanuts

In [63]:
# List comprehension
new_list = [name.title() for name in names]

In [64]:
new_list

['Neil Armstrong', 'Buzz Aldrin', 'Sally Ride', 'Yuri Gagarin', 'Elon Musk']

In [65]:
names

['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk']

# 6. Functions

In [66]:
# Defining a function in Python - Recipe 
def launchpad_welcome():
    print('hello')
    print(1+2)
    print(3+4)

In [67]:
# Running our function
launchpad_welcome()

hello
3
7

In [68]:
# String formatting 
print('Welcome {} {}'.format('Elon', 'Musk'))

Welcome Elon Musk

In [141]:
names = ['neil armstrong', 'buzz aldrin', 'sally ride', 'yuri gagarin', 'elon musk', 'aurovi']

In [142]:
# Positional Arguments
def custom_welcome(name):
    print('Welcome {}'.format(name))

In [143]:
custom_welcome('Nick Renotte')

Welcome Nick Renotte

In [144]:
for name in names:
    custom_welcome(name)

Welcome neil armstrong
Welcome buzz aldrin
Welcome sally ride
Welcome yuri gagarin
Welcome elon musk
Welcome aurovi

In [145]:
# Multiple positional Arguments - POSITION IS IMPORTANT
def custom_welcome_to_ship(name, space_ship):
    print('Welcome {} to the {}'.format(name, space_ship))

In [146]:
custom_welcome_to_ship('Nick Renotte', 'Galatic 1')

Welcome Nick Renotte to the Galatic 1

In [147]:
space_ships = ['Galactic 1', 'Galactic 2', 'USS Voyager', 'Maximum Amazin Wow Space Ship', 'Apple iShip', 'Auro Maxship']

In [148]:
# Used the enumerate function to get the positional index AND the name
for idx, name in enumerate(names):
    ship = space_ships[idx]
    custom_welcome_to_ship(name, ship)

Welcome neil armstrong to the Galactic 1
Welcome buzz aldrin to the Galactic 2
Welcome sally ride to the USS Voyager
Welcome yuri gagarin to the Maximum Amazin Wow Space Ship
Welcome elon musk to the Apple iShip
Welcome aurovi to the Auro Maxship

In [77]:
# This is using keyword arguments
def space_suit(color='Blue'):
    print('Your space suit is {}'.format(color))

In [78]:
space_suit(color='Red')

Your space suit is Red

In [79]:
# Multiple keyword arguments
def space_suit_welcome(name, space_ship, color='Blue', allergies='None'):
    print('Welcome {} to the {}, your space suit is {}, you have {} allergies'.format(name, space_ship, color, allergies))

In [150]:
#f string
def space_suit_welcome(name, space_ship, color='Blue', allergies='None'):
    print(f'Welcome {name} to the {space_ship}, your space suit is {color}, you have {allergies} allergies')

In [151]:
space_suit_welcome('Elon Musk', 'Apple iShip', allergies='Peanut', color='Orange')

Welcome Elon Musk to the Apple iShip, your space suit is Orange, you have Peanut allergies

In [81]:
# Setup a return statement
def space_suit_welcome_with_return(name, space_ship, color='Blue', allergies='None'):
    return 'Welcome {} to the {}, your space suit is {}, you have {} allergies'.format(name, space_ship, color, allergies)

In [82]:
# Example of storing the results of the function inside a variable
welcome = space_suit_welcome_with_return('Elon Musk', 'Apple iShip')

In [153]:
print(welcome)

Welcome Elon Musk to the Apple iShip, your space suit is Blue, you have None allergies

In [187]:
welcome2 = space_suit_welcome_with_return('Elon Musk', 'Apple iShip', color='Red', allergies='Potato')
print(welcome2)

Welcome Elon Musk to the Apple iShip, your space suit is Red, you have Potato allergies

In [190]:
# Lambda function - anonymous function
pi = lambda x: x*3.14

In [191]:
return_value = pi(2)

In [193]:
print(return_value)

6.28

In [157]:
3.14*2

6.28

In [192]:
pi2 = lambda x: x * x * x

In [196]:
return2 = pi2(2)

In [197]:
print(return2)

8

# 5. Classes

In [158]:
# Classes as boilerplates for objects
class Person():
    # The method that runs as soon as you create a class - initialise
    def __init__(self, name, age, color):
        # Create some attributes for our person class
        self.name = name 
        self.age = age
        self.color = color
        
    # Date of birth method
    def year_of_birth(self):
        return 2021-self.age
    
    # Projected age 
    def project_age(self, years=5):
        return self.age+years

In [159]:
new_person = Person('Elon Musk', 38, 'blue')

In [204]:
# Accessing a class attribute
new_person.age

# Run a method with a keyword argument
new_person.project_age(years=10)

48

In [198]:
class Student:
    def check_pass_fail(self):
        if self.marks >= 40:
            return True
        else:
            return False

student1 = Student()
student1.name = "Harry"
student1.marks = 85

did_pass = student1.check_pass_fail()
print(did_pass)

True

In [199]:
class Student:
    def check_pass_fail(self):
        if self.marks >= 40:
            return True
        else:
            return False

student1 = Student()
student1.name = "Harry"
student1.marks = 85

did_pass = student1.check_pass_fail()
print(did_pass)

student2 = Student()
student2.name = "Janet"
student2.marks = 30
did_pass = student2.check_pass_fail()
print(did_pass)

True
False

In [205]:
class Student:
    
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        
    def check_pass_fail(self):
        if self.marks >= 40:
            return True
        else:
            return False

student1 = Student("Harry", 85)
print(student1.name)
print(student1.marks)

Harry
85

In [206]:
class Student:
    
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        
    def check_pass_fail(self):
        if self.marks >= 40:
            return True
        else:
            return False

student1 = Student("Harry", 85)
print(student1.name)
print(student1.marks)

student2 = Student("Janet", 30)
print(student1.name)
print(student1.marks)

Harry
85
Harry
85

In [207]:
class Student:
    
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
        
    def check_pass_fail(self):
        if self.marks >= 40:
            return True
        else:
            return False

student1 = Student("Harry", 85)
did_pass = student1.check_pass_fail()
print(did_pass)

student2 = Student("Janet", 30)
did_pass = student2.check_pass_fail()
print(did_pass)

True
False

Example: Add Two Complex Numbers

In [208]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag

n1 = Complex(5, 6)
n2 = Complex(-4, 2)

In [209]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
        
    def add(self, number):
        real = self.real + number.real
        imag = self.imag + number.imag
        result = Complex(real, imag)
        return result

n1 = Complex(5, 6)
n2 = Complex(-4, 2)
result = n1.add(n2)

In [210]:
class Complex:
    def __init__(self, real, imag):
        self.real = real
        self.imag = imag
        
    def add(self, number):
        real = self.real + number.real
        imag = self.imag + number.imag
        result = Complex(real, imag)
        return result

n1 = Complex(5, 6)
n2 = Complex(-4, 2)
result = n1.add(n2)

print("real =", result.real)
print("imag =", result.imag)

real = 1
imag = 8

Programming Task

In [211]:
class Triangle:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def get_perimeter(self):
        perimeter = self.a + self.b + self.c
        return perimeter
    
t1 = Triangle(3, 4, 5)

perimeter = t1.get_perimeter()
print("The perimeter of the t1 triangle is", perimeter)

The perimeter of the t1 triangle is 12

The dir() function

In [212]:
numbers_list = [1, 2]
print(dir(numbers_list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [215]:
numbers_list = [1, 2]
#print(dir(numbers_list))


#__add__ just appends
result = numbers_list.__add__([3, 4])
print(result)

[1, 2, 3, 4]

The id() function

In [216]:
number1 = 5
print(id(number1))

number2 = 10
print(id(number2))

4316629080
4316629240

In [217]:
# Let's try assigning number1 to number2.

number1 = 5
print(id(number1))

number2 = number1
print(id(number2))

4316629080
4316629080

In [218]:
a = [1, 2, 3]
b = a

a.append(4)

print("a =", a)
print("b =", b)

a = [1, 2, 3, 4]
b = [1, 2, 3, 4]

In [220]:
"""
Here, both variables a and b are changed. It's because a and b are referring to the same object. 
And, if we check the id of variables a and b, they will be the same.
That's why we use the list's copy() method to copy one list to another if we do not want this behavior.
"""

a = [1, 2, 3]
b = a.copy()

a.append(4)

print("a =", a)
print("b =", b)

a = [1, 2, 3, 4]
b = [1, 2, 3]

# 6. Inheritance

In [221]:
class Animal:
    def eat(self):
        print("I can eat")

In [229]:
class Animal:
    def eat(self):
        print("I can eat")
        
class Dog(Animal):
    def bark(self):
        print("I can bark")

dog1 = Dog()

dog1.bark()
dog1.eat()

I can bark
I can eat

- PARENT is the class passing down attributes and methods = PERSON
- CHILD is the class inheriting the methods and attributes = ASTRONAUT

In [163]:
# Create a child class
class Astronaut(Person):
    
    # Define initialization function
    def __init__(self, name, age, color, mission_length_in_months):
        
        # This is what gives us inheritance - SUPER METHOD
        super().__init__(name, age, color)
        self.mission_length_months = mission_length_in_months
    
    # Method for calculating age on return
    def age_on_return(self):
        return self.project_age(years=int(self.mission_length_months/12))

In [164]:
new_astronaut = Astronaut('Nick', 99, 'purple', 48)

In [165]:
# Access parent like attribute 
new_astronaut.color

'purple'

In [166]:
# Access the methods
new_astronaut.year_of_birth()

1922

In [167]:
# Run a method
new_astronaut.age_on_return()

103

# 7. Modules

In [168]:
# Import launch codes helper
from helpers import launch_codes

In [169]:
launch_codes()

123456789

# 8. Working with Packages

In [170]:
!pip install requests

Requirement already satisfied: requests in /Users/silvester/opt/anaconda3/envs/myenv/lib/python3.12/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/silvester/opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/silvester/opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/silvester/opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/silvester/opt/anaconda3/envs/myenv/lib/python3.12/site-packages (from requests) (2024.2.2)

In [171]:
!pip list

Package            Version
------------------ --------
appnope            0.1.4
asttokens          2.4.1
certifi            2024.2.2
charset-normalizer 3.3.2
comm               0.2.2
debugpy            1.8.1
decorator          5.1.1
exceptiongroup     1.2.0
executing          2.0.1
idna               3.6
importlib_metadata 7.0.2
ipykernel          6.29.3
ipython            8.22.2
jedi               0.19.1
jupyter_client     8.6.1
jupyter_core       5.7.2
matplotlib-inline  0.1.6
nest_asyncio       1.6.0
packaging          24.0
parso              0.8.3
pexpect            4.9.0
pickleshare        0.7.5
pip                24.0
platformdirs       4.2.0
prompt-toolkit     3.0.42
psutil             5.9.8
ptyprocess         0.7.0
pure-eval          0.2.2
Pygments           2.17.2
python-dateutil    2.9.0
pyzmq              25.1.2
requests           2.31.0
setuptools         69.2.0
six                1.16.0
stack-data         0.6.2
tornado            6.4
traitlets          5.14.2
typing_extensions  4.10.0
urllib3            2.2.1
wcwidth            0.2.13
wheel              0.42.0
zipp               3.17.0

In [172]:
# Import requests into notebook
import requests

In [173]:
# I can haz dad joke api endpoint
joke_url = 'https://icanhazdadjoke.com'

# Iss API Endpoint
iss_url = 'https://api.wheretheiss.at/v1/satellites/25544'

In [174]:
# This is setting up a header - metadata for your api request 
my_header = {'Accept':'application/json'}

# API call
results = requests.get(joke_url, headers=my_header)

In [175]:
# Status of api request
results

In [176]:
# Extract JSON results from API
json_result = results.json()

In [177]:
type(json_result)

dict

In [178]:
json_result['joke']

"Why didn't the number 4 get into the nightclub? Because he is 2 square."

In [179]:
# Making an ISS API CALL
iss_results = requests.get(iss_url, headers=my_header)

In [180]:
iss_results.json()

{'name': 'iss',
 'id': 25544,
 'latitude': 49.477442797397,
 'longitude': -124.53370281635,
 'altitude': 424.74415867824,
 'velocity': 27586.004885204,
 'visibility': 'visible',
 'footprint': 4531.5212846148,
 'timestamp': 1710904847,
 'daynum': 2460389.6394329,
 'solar_lat': 0.0057548182242496,
 'solar_lon': 131.66123748935,
 'units': 'kilometers'}

# 9. Working with Files

In [181]:
# Write out our mission journal 
with open('mission_jounal.txt', 'w') as f:
    f.write("It's my first on the space mission. It is verry nice.")

In [182]:
# Read from journal
with open('mission_jounal.txt', 'r') as f:
    file = f.read()

In [183]:
print(file)

It's my first on the space mission. It is verry nice.

# 10. Error Handling

In [184]:
# Create a set
new_set = {1,2,3,4,5,6}

In [185]:
new_set[0] = 4

TypeError: 'set' object does not support item assignment

In [ ]:
# Try something using the try keyword
try: 
    # Run a piece of code which may cause an error
    new_set[0] = 4

# If we have an error, this code below will run
except Exception as e:
    print(e)
    # Print out something that's a little nicer for the user
    print('Something went wrong with your request.')

'set' object does not support item assignment
Something went wrong with your request.

# 11. Math

In [ ]:
# Create two variables
math_value_1 = 1235456
math_value_2 = 5678914

In [ ]:
# Addition
math_value_1 + math_value_2

6914370

In [ ]:
# Subtraction 
math_value_1 - math_value_2

-4443458

In [ ]:
# Division
math_value_2 / math_value_1

4.596613719954414

In [ ]:
# Dividing with the Integral Result
math_value_2 // math_value_1

4

In [ ]:
# Modulus / Modulo
math_value_2 % math_value_1

737090

In [ ]:
math_value_2 - math_value_1*4

737090

In [ ]:
# Multiplication
math_value_1 * math_value_2

7016048374784

In [ ]:
# Power
math_value_1 ** 3

1885740153297698816

In [ ]:
# Round 
round(1212121.789123456, 2)

1212121.79

In [ ]:
# Absolute Values
abs(-91123154987978)

91123154987978

In [ ]:
# Minimum - smallest value 
min(121,8989,1212,5464,8974231,2121)

121

In [ ]:
# Maximum
max(121,8989,1212,5464,8974231,2121)

8974231

In [ ]:
# Import the math package
import math

In [ ]:
math.sqrt(25)

5.0

In [ ]:
math.sqrt??

Signature: math.sqrt(x, /)
Docstring: Return the square root of x.
Type:      builtin_function_or_method